@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --main-bg: #e8ecf2;
  --light-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8);
  --dark-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  --light-shadow-color: rgba(255, 255, 255, 0.8);
  --dark-shadow-color: rgba(0, 0, 0, 0.25);
  --secondary-font: #0000ff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sriracha', cursive;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  background-color: var(--main-bg);
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  text-align: center;
}
.container,
.data-section {
  flex-direction: column;
  border-radius: 10px;
  box-shadow: var(--light-shadow), var(--dark-shadow);
}
.container {
  flex-wrap: wrap;
  background-color: var(--main-bg);
  gap: 20px;
  width: 100%;
  max-width: 450px;
  padding: 20px;
}
.name-form {
  width: 100%;
}
.city-name-input,
.geo-btn,
.units-btn {
  width: 100%;
  border: 4px solid var(--main-bg);
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: var(--light-shadow), var(--dark-shadow);
}
.city-name-input {
  background-color: var(--light-shadow-color);
  outline: none;
}
.city-name-input:focus {
  border: 4px solid var(--dark-shadow-color);
}
.city-name-button {
  color: var(--secondary-font);
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  transform: translate(-130%, -15%);
  /* transform: translate(-70%, -15%); */
  font-size: 40px;
}
.city-name-button:active {
  transform: translate(-130%, -13%);
}
.geo-btn,
.units-btn {
  gap: 10px;
  cursor: pointer;
  transition: all;
  transition-duration: 250ms;
  background-color: var(--main-bg);
  color: var(--secondary-font);
  margin: auto;
}
.geo-btn:hover,
.units-btn:hover {
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
    1px 1px 5px rgba(0, 0, 0, 0.3);
}
.geo-btn:active,
.units-btn:active {
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
    1px 1px 5px rgba(0, 0, 0, 0.3), inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.display-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.display-days {
  margin-top: 15px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}
.display-weather,
.display-weather:first-child {
  width: 100%;
}
.data-section {
  background-color: rgba(192, 208, 231, 0.5);
  text-align: center;
  gap: 10px;
  font-size: 20px;
  padding: 5px;
}
.current {
  font-size: 40px;
}
.icon {
  margin-top: -20px;
  margin-bottom: -30px;
}
.units-btn {
  max-height: 55px;
}
.day1-temp,
.day2-temp {
  flex-basis: 50%;
}
.city-error {
  margin-top: 15px;
}
.city-error,
.location-error {
  font-size: 18px;
  text-align: center;
  color: #ff0000;
  display: none;
}
